.jumbotron {
  background-color: rgb(170, 131, 77);
  margin-bottom: 0%;
}

.nav {
  background-color: rgb(0, 0, 0);
  padding: 25px;
}
.nav-link {
  color: rgb(255, 255, 255);
}
.overview {
  width: 900px;
  background-color: rgb(170, 131, 77);
  padding: 20px;
  border-radius: 10px;
  margin-left: 50px;
  margin-top: 50px;
}

.research {
  width: 900px;
  background-color: rgb(170, 131, 77);
  padding: 20px;
  border-radius: 10px;
  margin-left: 50px;
  margin-top: 50px;
}

.problemstatement {
  width: 900px;
  background-color: rgb(170, 131, 77);
  padding: 20px;
  border-radius: 10px;
  margin-left: 50px;
  margin-top: 50px;
}
.iteration {
  width: 900px;
  background-color: rgb(170, 131, 77);
  padding: 20px;
  border-radius: 10px;
  margin-left: 50px;
  margin-top: 50px;
}

.prototype {
  width: 900px;
  background-color: rgb(170, 131, 77);
  padding: 20px;
  border-radius: 10px;
  margin-left: 50px;
  margin-top: 50px;
}

img {
  width: 200px;
  float: left;
}
